body {
    font-family: 'Poppins';
}


/**********delivery apply page*****/
.delivery-section {
    width: 71%;
    margin: auto;
    padding-top: 58px;
    padding-bottom: 120px;
}

.delivery-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.driver-form label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 13px !important;
    display: inline-block;
    line-height: 20px;
    color: #000000;
}

.driver-form input[type="text"],
.driver-form input[type="email"],
.driver-form input[type="password"],
.driver-form input[type="date"],
.driver-form input[type="time"],
.driver-form input[type="number"] {
    background-color: #FBFBFB;
    border: 1px solid #F3F3F3 !important;
    border-radius: 90px;
    padding: 15px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    outline: none !important;
    box-shadow: none !important;
}

.driver-form textarea {
    width: 100%;
    background: #FBFBFB;
    border: 1px solid #F3F3F3 !important;
    border-radius: 30px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 14px;
    height: 100px;
    line-height: 20px;
    outline: none !important;
    box-shadow: none !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(/img/date.png);
    background-repeat: no-repeat;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: url(/img/time.png);
    background-repeat: no-repeat;
}

.driver-form .apply-btn ,.delivery-section .apply-btn{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding: 13px 40px;
    border: none;
    width: 400px;
    margin-top: 35px;
    background-color: #F5E020;
    border-radius: 10px;
    text-decoration: none;
}
.back-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding: 13px 40px;
    border: none;
    width: 400px;
    margin-top: 35px;
    background-color: #464646;
    border-radius: 10px;
}
.driver-form .delivery-complete-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    width: 400px;
    padding: 13px 40px;
    margin-top: 15px;
    background: #009F25;
    border-radius: 10px;
    border: none;
    display: block;
    text-decoration: none;
}
.bottom-btns {
    display: flex;
    justify-content: end;
    gap: 40px;
}
.store-checkbox {
    position: relative;
    margin-bottom: 25px;
}

/*****driver delivery summary page****/
.cancel-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #FF0000;
    margin-top: 25px;
    background: transparent;
    border: none;
    display: block;
}

/******customer signup page****/
.login-section {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #000000;
}

.login-section p {
    margin-bottom: 0px;
}

.login-section a,
.need-info-text a {
    color: #F5E020;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}


/******complete delivery page****/
.complete-delivery-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.complete-delivery-tabs {
    background: #FBFBFB;
    border: 1px solid #F3F3F3;
    border-radius: 90px;
    padding: 13px 33px;
}

.complete-delivery-tabs a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000
}

.complete-delivery-section .active {
    border: 2px solid #009F25;
}

.complete-delivery-tabs span {
    margin-right: 15px;
}

/********login page*****/
.login-page {
    width: 51%;
    margin: auto;
}

.need-info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.forgot-password {
    text-align: end;
}
.forgot-password a {

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;
}
/******review-page*******/
.review-checkbox-area,
.select-rating {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.form-check {
    display: inline-block;
}

.form-check-input {
    height: 24px;
    width: 24px;
    background: #FBFBFB;
    border: 1px solid #F3F3F3;
    border-radius: 90px;
}

.review-checkbox-area .form-check-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 6px !important;
    color: #808080;
}

.review-textarea {
    width: 100% !important;
    height: 150px !important;
}

.rating-section i {
    font-size: 24px;
    color: #D9D9D9;
}

.select-price {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #F3F3F3 !important;
    background: #FBFBFB;
    border: 1px solid #F3F3F3;
    border-radius: 90px;
    /* background-image: url("img/Arrow.png"); */
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 90%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 20px;
    color: #808080;

}

.pickup-need {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #F3F3F3 !important;
    background: #FBFBFB;
    border: 1px solid #F3F3F3;
    border-radius: 90px;
    /* background-image: url(img/Arrow.png); */
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 12px 20px;
    color: #808080;
}

.location-input {
    background-image: url("/img/location-pin-svgrepo-com.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 50%;
    background-position-x: 1%;

}

.contact-input {
    background-image: url("/img/Phone.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 50%;
    background-position-x: 2%;
}

.contact-information {
    background-image: url("/img/profile-round-1342-svgrepo-com\ 1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 50%;
    background-position-x: 2%;
}

/*******approved deliveries**********/
.approved-deliveries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    background: #F8F8F8;
    gap: 6px;
    border-radius: 20px;
    border-left: 20px solid #E4E4E4;
}

.question-img {
    background-color: #F5E020;
    width: 12%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    gap: 15px;
}
.approved-parts.dlvry {
    width: 27%;
}

.approved-parts.stts {
    width: 14%;
}

.approved-parts {
    width: 22%;
    padding: 20px 0px;
}

/* payout css start here */
.payout-main .approved-parts {
    width: 21%;
    padding: 20px 0px;
}
.payout-main .amt {
    width: 11%;
}
.payout-main .approved-parts.dlvry {
    width: 22%;
}

.payout-main .approved-parts.stts {
    width: 11%;
}
.payout-main .correct-img {
    width: 10%;
}

.approved-parts h5 {
    text-transform: capitalize;
}

/* payout css end here  */



.approved-deliveries h5 {
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
}

.delivery-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #2C2C2C;
    text-transform: uppercase;
}

.delivery-address-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    text-transform: capitalize;
}

.delivery-date {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #009F25;
}

.cross-img {
    background: #E51636;
    width: 12%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    gap: 15px;
}

.correct-img {
    background: #009F25;
    width: 12%;
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    gap: 15px;
}

/******store page************/
.store-section {
    background: #F8F8F8;
    border-radius: 20px;
    padding: 10px;
}

.store-img {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    padding-left: 30px;
    color: #000000;
}

/*******confirmation **********/
.confirmation-popup {
    text-align: center;
    padding:0px 60px;
}

.confirmation-popup h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.confirmation-popup p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.confirmation-section .modal-content{
    background: #FFFFFF;
    border-radius: 20px !important;
}
.confirmation-section{
    width: 31%;
    margin-top: 75px;
}
.btn-close {
    position: absolute;
    right: 0px;
    top: -20%;
    background: transparent;
    color: #fff;
    opacity: 1;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
/******upload confirmation list *********/
.upload-confirmation-logo {
    font-weight: 600;
    font-size: 8px;
    line-height: 11px;
    display: inline-block;
    width: 15%;
    margin-bottom: 0px !important;
}
.logo-area {
    background-color: #FBFBFB;
    border-bottom: 2px solid orange;
    padding: 9px 10px 16px;
    display: flex;
    align-items: flex-end;
    gap: 7px;
    position: relative;
}
.logo-area img{
    width:40px;
}
.logo-area:before {
    content: "";
    border: 2px solid red;
    width: 61px;
    height: 58px;
    left: 0px;
    top: 1px;
    position: absolute;
    border-radius: 50%;
}
.upload-confirmation-page {
    border: 1px solid #D9D9D9;
    padding: 10px;
    width: 51%;
    margin: auto;
}

.track-order {
    margin: auto;
    padding-bottom: 10px;
    border: 2px solid red;
}
.arrive-order-section{
    border-bottom: 2px solid #D9D9D9;
    margin:10px;
}
.track-order img {
    width: 73px;
}
.order-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0px;
}
.order-number {
    font-weight: 400;
    font-size: 16px;
    padding: 20px 0px 5px;
    line-height: 35px;
    margin-bottom: 0px;
}
.order-description {
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
}
.order-description-1 {
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
}
.order-description-2 {
    font-weight: 500;
    font-size: 10px;
    line-height: 17px;
}
.order-description span{
    font-weight:700 !important;
}
.track-btn{
    color:#fff;
    background-color: #f96302;
    padding:10px 40px;
    border:none;
    margin-top: 20px;
}
.track-black-box{
    background-color: #000;
    width:50%;
    display: inline-block;
    height:20px;
}
.pickup-section{
    display: flex;
    justify-content: space-between;
}
.pickup-store-title {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 0px !important;
    line-height: 30px;
}
.pickup-blackbox{
    background-color: #000;
    width:100%;
    display: inline-block;
    height:50px;
}
.tracking-blackbox{
    background-color: #000;
    width:100%;
    display: inline-block;
    height:20px;
}
td.price-text,.quality,.total-item{
    font-size: 12px;
}
.table-black-box{
    height:70px;
    width:70px;
    background-color: #000;
}
table.item-table td {
    vertical-align: top;
    padding:10px;
}
.item-table{
    border-bottom: 2px solid #D9D9D9;
}
.item-table thead{
    background-color: #D9D9D9;

}
.item-table thead th {
    padding: 50px 10px 10px;
    font-size: 12px;
}
.order-status-btn {
    color: #f96302;
    font-size: 12px;
    background-color: #fff;
    font-weight: 600;
    border: 2px solid #f96302 !important;
    padding: 10px 16px;
    border: none;
}
table.subtotal-table th {
    font-size: 14px;
}
.order-total-btn {
    background-color: #D9D9D9;
    padding: 10px 20px;
    display: inline-block;
    border: none;
    font-size: 12px;
    font-weight: 600;
}
.order-btn-area{
    display: flex;
    gap:10px;
}
.subtotal-table {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-spacing: 7px 4px !important;
    border-collapse: inherit;
}
.subtotal-table td {
    text-align: right;
    font-size: 13px;
}
.upload-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding: 13px 40px;
    border: none;
    display: block;
    background-color: #F5E020;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    margin-top: 35px;
}
/********upload file page***********/
.upload-image input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    cursor: pointer;
}
.upload-image{
    position: relative;
    border: 1px dashed black;
    width: 100%;
    height: 180px ;
    display:flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.upload-image p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
input#flexCheckDefault:checked ~.store-section {
    background: #c1c1b459 !important;
}
input#flexCheckDefault {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.store-checkbox{
    position: relative;
}
.customer-text{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    padding-top:25px;
    line-height: 27px;
}
.customer-section {
    background: #FFFFFF;
    box-shadow: 0px 15px 80px rgba(16, 85, 135, 0.15);
    border-radius: 20px;
    overflow: hidden;
    border:2px solid #fff;
    position: relative;
}
.link-overlay {
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
}
.customer-driver-area{
    display: flex;
    justify-content: space-evenly;
    padding: 0px;
    background-color:#fff;
    box-shadow:0px 15px 80px rgba(16, 85, 135, 0.15);
    padding:50px 20px;
    border-radius:30px;
    width:80%;
    margin: auto;
}
.col-md-5.p-0.customer-section:hover {
    border: 2px solid #F5E020;
}
.select-type-text{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 27px;
    text-align: center;
    padding-top:40px;
}
.dropdown {
    text-align: end;
}
a.dropdown-toggle.user-btn {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    text-decoration: none;
    color: #000;
}
.dropdown-toggle.user-btn::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    position: absolute;
    right: -15px;
    top: 10px;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.dropdown.dropdown-menu-section {
    width: 127px;
    margin-left: auto;
}
.dropdown-menu-section a.dropdown-item {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
}
.dropdown-menu-section a.dropdown-item img{
    width:18px;
    height:18px;
}
/******popup*****/
/* h2#swal2-title {
    font-weight: 600;
    font-weight: 600;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    padding-top:0;
    margin-bottom: 0px;
} */
.swal2-icon.swal2-warning.swal2-icon-show {
    width: 12%;
    height: 45%;
}
div#swal2-html-container {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 13px !important;
    display: inline-block;
    line-height: 20px;
    color: #000000;
}
button.swal2-confirm.swal2-styled {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding: 8px 20px;
    border: none;
    background-color: #009F25;
    border-radius: 10px;
    box-shadow: none !important;
    min-width: 120px;
}
button.swal2-cancel.swal2-styled {
    background-color: red;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: none !important;
    min-width: 120px;
}
.swal2-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.searchBox {
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: 300ms;
    margin-left:auto;
  }

  .searchBox.active {
    transition: 200ms;
    width: 400px;
    box-shadow: 0 0 8px rgb(0 0 0 / 16%);
  }

  .searchBox.active .close {
    transition: 500ms;
    scale: 1;
  }

  .searchBox .search {
    position: relative;
    min-width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
  }
  .searchBox .close {
    position: relative;
    min-width: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    scale: 0;
    cursor: pointer;
  }

  ion-icon img {
    width: 12px;
}
  .searchBox .searchInput {
    position: relative;
    height: 40px;
    width: 100%;
}

  .searchBox .searchInput input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
  }


/* new css start here  */

  .ui-menu .ui-menu-item a,.ui-datepicker-title {
    font-size: 15px !important;
}
.ui-datepicker .ui-datepicker-header {
    background: #464646 !important;
}
.ui-widget-content {
    border: 1px solid #464646 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 1px solid #464646 !important;
    color: #464646 !important;
    font-size: 14px !important;
}

.ui-datepicker table {
    font-size: 14px !important;
}

span.text-danger {
    padding: 12px 0px;
    display: inline-block;
}

.reset-card .card-header {
    background-color: #464646;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.reset-card label{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}


.reset-card input {
    border: 1px solid #F3F3F3 !important;
    border-radius: 90px;
    padding: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    outline: none !important;
    box-shadow: none !important;
}
button.reset-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding: 13px 24px;
    border: none;
    background-color: #F5E020;
    border-radius: 10px;
    text-decoration: none;
}

button.reset-btn:hover {
    color: #000000;
    background-color: #F5E020;
}

.card.reset-card {
    border: none;
    box-shadow: 0px 4px 34px rgb(0 0 0 / 10%);
}

h2.rest-ttl {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 0px;
}

.reset-pwd {
    border: none;
    box-shadow: 0px 4px 34px rgb(0 0 0 / 10%);
}

.reset-pwd label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-top: 13px !important;
    display: inline-block;
    line-height: 20px;
    color: #000000;
    margin: 10px 0px;
}

.reset-pwd input {
    background-color: #e8f0fe;
    border: 1px solid #F3F3F3 !important;
    border-radius: 90px;
    padding: 15px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    outline: none !important;
    box-shadow: none !important;
}

button.reset-nee {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    padding: 13px 24px;
    border: none;
    background-color: #F5E020;
    border-radius: 10px;
    text-decoration: none;
}
p.begn-txt-ylo {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #F5E020;
    margin-top: 25px;
    background: transparent;
    border: none;
    display: block;
    text-transform: capitalize;
}
p.begn-txt-grn {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #009F25;
    margin-top: 25px;
    background: transparent;
    border: none;
    display: block;
    text-transform: capitalize;
}
p.begn-txt-red {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: red;
    margin-top: 25px;
    background: transparent;
    border: none;
    display: block;
    text-transform: capitalize;
}

/* new css end here  */


.upload-confirmation-img {
    display: flex;
    justify-content: center;
}

/* css star *//* component */

.star-rating {

    display:flex;
    flex-direction: row-reverse;
    font-size:40px;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:5em;
  }

  .star-rating input {
    display:none;
  }

  .star-rating label {
    color:#ccc;
    cursor:pointer;
  }

  .star-rating :checked ~ label {
    color:#f90;
  }

  .star-rating label:hover,
  .star-rating label:hover ~ label {
    color:#fc0;
  }

  /* explanation */

  article {
    background-color:#ffe;
    box-shadow:0 0 1em 1px rgba(0,0,0,.25);
    color:#006;
    font-family:cursive;
    font-style:italic;
    margin:4em;
    max-width:30em;
    padding:2em;
  }
  .star-rating label {
    font-size: 30px;
}

/*end star rating*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
    gap: 10px;
}
.pagination .page-item .page-link {
    border: 0px;
    background: transparent;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #000;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}

.pagination .page-item.active .page-link {
    background: #009f25;
    color: #fff;
}
.not-found-text {
    text-align: center;
    padding: 86px 0px;
    margin-top: 92px;
    font-size: 25px;
    color: #adadad;

}

/* .delivery-complete-btn {
    position: relative;
  } */

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .g-btn {
    margin-top: 50px !important;
  }
  a.dlete-btn {
    margin: 34px 0px 0px 14px !important;
}

span.help-block {
    padding: 10px 0px;
    display: inline-block;
    color: red;
}

.b-contnr {
    padding-bottom: 150px !important;
}

.alert.alert-warning {
    margin: 20px 0px;
}
.btn-nnn {
    position: relative;
    top: 20px;
}
p.user-text {
    text-transform: capitalize;
}

.charges-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

p.delivry {
    font-weight: 600;
    font-size: 18px;
}
p.delivry span {
    color: green;
}
.home-depot-img {
    position: relative;
    top: -14px;
  }
  .alert-dismissible .btn-close {
    color: #000 !important;
}


.card-payment input[type="radio"]:before {
    content: "";
    background: #168D88;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    opacity: 0;
    top: 2px;
}
.card-payment input[type="radio"]:checked:before {
    opacity: 1;
}
.card-payment {
    display: flex !important;
    align-items: center;
    gap: 10px;
    position: relative;
}
.card-payment p {
    margin: 0px;
}
.card-payment input[type="radio"]:after {
    content: "";
    width: 11px;
    height: 6px;
    position: absolute;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    top: 7px;
    transform: rotate(-50deg);
    right: 5px;
}
.card-payment input[type="radio"] {
    width: 0px;
}
.card-section  label.card-payment {
    display: flex !important;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 255px;
    margin: 0px !important;
}
.card-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 38px;
}
.card-section .card-payment.add-card {
    width: 150px ;
}
label.card-payment.add-card img {
    width: 39px;
}

.payout-main .correct-img img {
    cursor: pointer;
}
button.btn-close.popup-btn {
    background: url(../img/close-small.png);
    background-repeat: no-repeat;
    background-position: center;
    top: -35px;
    outline: none !important;
    box-shadow: none;
}
.modal-header {
    border: transparent;
}
h5.modal-title {
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.grn-price {
    color: green;
}




/***responsive****/
@media screen and (max-width:991px) {
    .delivery-section {
        width: 94%;
        margin: auto;
    }

    
    .driver-form .apply-btn {
        width: 100%;
    }
    .approved-deliveries h5{
        font-size: 17px;
    }
    .complete-delivery-section {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        justify-content: space-between;
    }
    .upload-confirmation-page {
        width: 100%;
    }

    a.dropdown-toggle.user-btn {
        right: 45px;
    }

    .store-img {
        width: 120px;
        height: 120px;
    }
    .store-text {
        font-size: 18px;
    }

    .b-contnr {
        padding: 30px 40px 10px 40px !important;
      }

      .delivery-section {
        padding-bottom: 20px !important;
      }
      .driver-form {
        margin: 30px 0px 0px 0px !important;
      }
      .login-page {
        width: 85%;
      }
     
      .delivery-text {
        margin-bottom: 25px;
      }

      .question-img,.cross-img {
        width: 10%;
    }
    .payout-main .approved-parts.dlvry {
        width: 20%;
    }
    .correct-img {
        width: 10%;
    }
    .cross-img,.correct-img,.question-img {
        gap: 8px;
    }
    .driver-form .d-btn-new {
        width: 71% !important;
    }

}

@media screen and (max-width:767px) {
    .question-img {
        width: 100%;
        height: 50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
    }
    .approved-parts {
        width: 100%;
        padding: 20px 0px;
    }
    .approved-deliveries {
        border-left:0px;
        border-top: 20px solid #E4E4E4;
        text-align: center;
    }
    .cross-img {
        width: 100%;
        height:50px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
    }
    .correct-img {
        width: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        height:50px;
    }
    .complete-delivery-section {
        display: flex;
        flex-wrap: wrap;
        gap: 19px;
        justify-content: space-between;
    }
    .driver-form .apply-btn {
        width: 100%;
    }
    .login-page {
        width: 100%;
        margin: auto;
    }
    .store-img {
        border-radius: 10px;
        width: 150px;
        height: 120px;
    }
    .store-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    .upload-btn{
        width:100%;
    }
    .order-status-btn {
        margin-bottom:20px;
    }
    .item-table tr{
        display: flex;
        flex-direction: column;
    }
    .item-table thead th {

        display: none;
    }
    td.price-text,.quality,.total-item{
        position: relative;
        padding: 45px 12px 27px !important;
        font-weight: 600;
    }
    .table-item-area{
        position: relative;
        padding: 45px 12px 27px !important;
        margin-top:20px;
        font-weight: 600;
    }
    .table-item-area::before{
        content: "Item";
        position: absolute;
        top: -11px;
        left: 0px;
        background-color: #E4E4E4;
        padding: 10px;
        width: 100%;
    }
    td.price-text::before{
        content: "Unit Price";
        position: absolute;
        top: -11px;
        left: 0px;
        background-color: #E4E4E4;
        padding: 10px;
        width: 100%;
    }
    .quality::before{
        content: "Qty";
        position: absolute;
        top: -11px;
        left: 0px;
        background-color: #E4E4E4;
        padding: 10px;
        width: 100%;
    }
    .total-item::before{
        content: "Item Total";
        position: absolute;
        top: -11px;
        left: 0px;
        background-color: #E4E4E4;
        padding: 10px;
        width: 100%;
    }
    .upload-confirmation-logo {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        display: inline-block;
        width: 43%;
        margin-bottom: 0px !important;
    }

   

}

@media screen and (max-width:691px) {
   
    .delivery-text {
        margin-bottom: 16px;
      }

      .delivery-text {
        font-weight: 600;
        font-size: 20px;
    }

    .delivery-section .apply-btn {
    margin-top: 30px;
}
    .searchBox.active {
        width: auto;

    }
    .home-depot-img {
        position: relative;
        top: -14px;
        width: 66px;
        left: 18px;
    }
    .bottom-btns {
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
      }
      .back-btn,.apply-btn {
        width: auto !important;
        font-size: 16px !important;
    }
     .back-btn {
    margin-top: 18px !important;
    }
    .b-contnr {
        padding: 30px 15px 10px 15px !important;
      }
      .store-fld {
        padding-right:0px !important;
      }
      .home-depot-img {
        position: relative;
        top: -4px;
        width: 80px;
        left: 0px;
    }

      .charges-main {
        margin-bottom: 20px;
        flex-direction: column;
      }
      .driver-form {
        margin: 0px !important;
      }
      .card-section .card-payment.add-card {
        width: auto;
      }

      .card-section {
        align-items: self-start;
        flex-direction: column;
    }

    .card-payment input[type="radio"]:after {
        right: -23px;
    }
    .card-payment input[type="radio"]:before {
        right: -28px;
        top: 3px;
    }
    .approved-parts.dlvry,.approved-parts.stts {
        width: 100%;
    }
    .approved-deliveries {
        gap:0px;
    }

    .delivery-address {
        font-size: 16px;
    }
    .approved-parts {
        width: 100%;
        padding: 6px 0px;
    }
 .delivery-see {
    padding: 0px !important;
 }
 .vwe-img {
    position: relative;
    top: 20px;
 }

.payout-main .approved-parts.dlvry,.payout-main .approved-parts.stts,.payout-main .correct-img, .payout-main .approved-parts {
    width: 100%;
}
.approved-deliveries.payout-main {
    flex-direction: column;
    gap: 0px;
}
.payout-main .approved-parts {
    padding: 5px 0px;
}

h5.modal-title {
    font-size: 20px;
    line-height: 20px;
  }
.upload-confirmation-img img {
    width: 100%;
}

.complete-delivery-section {
    margin: 0px !important;
}

.serch-btn {
    padding: 0px 10px !important;
}


.driver-form .delivery-complete-btn {
    width: auto;
    padding: 14px 91px;
}
button.c-btn {
    padding: 14px 70px !important;
}
.swal2-icon.swal2-warning.swal2-icon-show {
    width: 25%;
    height: 60%;
}

a.apply-btn.dlete-btn {
    margin-left: 25px !important;
}

.cross-img, .correct-img, .question-img {
    gap: 30px;
}

.driver-form .delivery-complete-btn {
    font-size: 16px;
}
.correct-img.n-tick {
    gap: 0px;
}
.driver-form .d-btn-new {
    width: auto !important;
}

}
